# Saltware Contact Center 설정
aws_region             = "ap-northeast-2"
environment            = "dev"
connect_instance_alias = "saltware-contact-center"

# 엔지니어 정보
engineer_username   = "bsd"
engineer_password   = "bsd1234!"
engineer_first_name = "배"
engineer_last_name  = "승도"
engineer_email      = "engineer@saltware.co.kr"

# 회사 정보
company_name = "Saltware"

# 알림 설정
alert_email = "admin@saltware.co.kr"

admin_email      = "svvwac98@saltware.co.kr"
admin_first_name = "bae"
admin_last_name  = "seungdo"
admin_password   = "admin1234!"
admin_username   = "admin"
